{% extends "base.html" %}

{% block content %}
<h1>Add book page</h1>
<form method="POST" action="/addBook">
    {{form.hidden_tag()}}
    <div>
        <div class="form-group">
            {{form.title.label}}
            {{form.title(size=32)}}
        </div>
        <div class="form-group">
            {{form.author.label}}
            {{form.author(size=32)}}
        </div>
        <div class="form-group">
            {{form.genre.label}}
            {{form.genre(size=32)}}
        </div>
        {{form.publicationYear.label}}
        {{form.publicationYear(size=32)}}
    </div>
    <div class="form-group">
        {{form.image.label}}
        {{form.image(size=32)}}
    </div>
    <div class="form-group">
        {{form.isbn.label}}
        {{form.isbn(size=32)}}
    </div>
    <div>
        {{form.submit()}}
    </div>
    </div>
</form>
{% endblock %}