<link rel="stylesheet" href="{{url_for('static',filename='css/getBook.css')}}">


{% block content %}
<p style="margin-top: 20px;margin-left: 500px;">Book List</p>
<div class="addButton">
    <button>
        <a href="/addBook" class="btn btn-primary">Add Book</a>
    </button>

</div>
<table border="1">
    <thead>
        <tr>
            <th>Title</th>

            <th>Author</th>

            <th>Genre</th>

            <th>PublicationYear</th>

            <th>Image</th>

            <th>ISBN</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        {%for book in books %}
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.publicationYear}}</td>
            <td>
                <a href="{{ book.image }}" target="_blank">
                    <img src="{{ book.image }}" alt="Book Image" width="40">
                </a>
            </td>

            <td>{{book.isbn}}</td>
            <td>
                <div class="card-body">
                    <form action="{{url_for('main.editBook',book_id=book.id)}}"
                        onclick="return confirm('Are you sure')">
                        <button class="btn btn-secondary" style="margin-left: 20px;" type="submit"
                            onclick="return confirm('Are you sure?')">Edit</button>
                    </form>

                    <form action="{{ url_for('main.deleteBook', book_id=book.id) }}" method="POST"
                        style="display:flex;margin-left: 60px;margin-top:-38px;">
                        <button class="btn btn-warning" type="submit"
                            onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}