{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editBook.css') }}">

<div class="container mt-5">

    <form method="POST">
        <h2 class="text-center">Edit Book</h2>
        <div class="row">
            <!-- Left Column -->
            <div class="col-md-6">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ book.title }}" required>
                </div>

                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" name="author" value="{{ book.author }}"
                        required>
                </div>

                <div class="mb-3">
                    <label for="genre" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="genre" name="genre" value="{{ book.genre }}" required>
                </div>
            </div>

            <!-- Right Column -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="publicationYear" class="form-label">Publication Year</label>
                    <input type="text" class="form-control" id="publicationYear" name="publicationYear"
                        value="{{ book.publicationYear }}" required>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input type="text" class="form-control" id="image" name="image" value="{{ book.image }}" required>
                </div>

                <div class="mb-3">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input type="text" class="form-control" id="isbn" name="isbn" value="{{ book.isbn }}" required>
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Update Book</button>
        </div>
    </form>
</div>
{% endblock %}